#mainhi {
  margin-top: 100px;
  text-align: center;
  font-family: "Roboto Slab", serif;
}
.jaab {
  font-size: 17px;
  line-height: 24px;
  color: #8292b4;
  font-family: "Inter";
}
#suggestionhaiya {
  height: 60px;
  width: 900px;
  margin: auto;
  margin-top: 30px;

  display: flex;
  background: #fff;
  border: 1.26923px solid #eaf1f5;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgb(86 141 187 / 12%);
  border-radius: 100px;
}
#suggestionhaiya > div {
  height: 100%;
}
.searchIc {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 19px;
}
.suggestor-input {
  width: 300px;
  font-size: 15px;
  line-height: 22px;
  font-family: "Inter";
  color: #1b2437;
  font-weight: 400;
  height: 100%;
  margin-left: 10px;
  border: none;
}
#Experie {
  margin-top: 10px;
  height: 40px;
  border: none;
  color: gray;
}

#teesta {
  width: 180px;
  margin-left: 10px;
}
#pehla {
  width: 350px;
}
.pipehi {
  background: #eaf1f5;
  border-radius: 2.53846px;
  width: 1px;
  height: 20px;
}
.suggestokr-input {
  font-size: 15px;
  line-height: 22px;
  font-family: "Inter";
  color: #1b2437;
  font-weight: 400;
  border: none;
  height: 100%;
  width: 100%;
}
.fourthh {
  width: 100px;
  margin-left: 20px;
}
.qsbSubmit {
  padding: 11px 28px;
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;
  background: #457eff;
  box-shadow: 0 5.07692px 12.6923px rgb(69 126 255 / 10%);
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  margin-top: 4px;
  border: none;
}
#conta {
  width: 730px;
  margin: auto;
  height: 90px;

  margin-top: 30px;
}
#conta > img {
  width: 100%;
  height: 100%;
}
h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Roboto Slab", serif;
}
.Firsuuiut {
  height: 150px;
  width: 1000px;
  /* border: 1px solid black;  */
  margin: auto;
  display: flex;
  gap: 10px;
}
.thirdhai {
  height: 290px;
  width: 1000px;
  /* border: 1px solid black;  */
  margin: auto;
  display: flex;
  gap: 10px;
}
.items_hai {
  height: 150px;
  width: 1000px;

  margin: auto;
  display: flex;
  gap: 10px;
}
.ROkau {
  /* width: 20%; */
  margin: 10px;
  text-align: center;
  cursor: pointer;
  text-align: center;
  height: 110px;
  padding-top: 10px;
  background: #ffffff;
  border: 1px solid #eaf1f5;
  -webkit-box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
  box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
  border-radius: 16px 6px;
  max-width: 240px;
  /* height:100%; */
  font-family: "Inter", sans-serif;
}
.ROkau:hover{
  box-shadow: 0px 8px 20px rgb(0 73 203 / 12%);
}
.ROkau > img {
  margin: auto;
  width: 52px;
  height: 52px;
}
.ROkau > img + p {
  margin-top: 2px;
}
.ROkau > p + p {
  color: #8292b4;
  font-size: 13px;
  margin-top: -8px;
  font-weight: 10;
}
.Rokau2 > p:first-child {
  color: #1b2437;
  max-width: 175px;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
  margin-left: 20px;
  text-align: start;
}
.photohia + p {
  color: #1b2437;
  max-width: 175px;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
  margin-left: 20px;
  text-align: center;
}
.photohia + p + p {
  color: #8292b4;
  font-size: 12px;
  margin-top: -10px;
  font-weight: 400;
  text-align: center;
  margin-left: 20px;
}
.photohia + p + p + p {
  color: #8292b4;
  font-size: 12px;
  margin-top: 40px;
  font-weight: 400;
  text-align: center;
  margin-left: 20px;
}
.Rokau2 > p + p {
  color: #8292b4;
  font-size: 12px;
  margin-top: -10px;
  font-weight: 400;
  text-align: start;
  margin-left: 20px;
}
.Rokau2 {
  margin: 10px;
  text-align: center;
  cursor: pointer;
  text-align: center;
  height: 130px;

  background: #ffffff;
  border: 1px solid #eaf1f5;
  -webkit-box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
  box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
  border-radius: 16px 6px;
  width: 150px;
  /* height:100%; */
  font-family: "Inter", sans-serif;
}
.Rokau2:hover{
  box-shadow: 0px 8px 20px rgb(0 73 203 / 12%);
}
.ROkau3rdhhai {
  margin: 10px;
  text-align: center;
  cursor: pointer;

  height: 270px;

  background: #ffffff;
  border: 1px solid #eaf1f5;
  -webkit-box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
  box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
  border-radius: 16px 6px;
  width: 150px;

  font-family: "Inter", sans-serif;
}
.ROkau3rdhhai:hover{
  box-shadow: 0px 8px 20px rgb(0 73 203 / 12%);
}
.photohia {
  width: 100px;
  /* border: 1px solid black; */

  height: 30px;
  margin: auto;
  margin-top: 20px;
}
.jobsbtn {
  padding: 11px 20px;
  color: #457eff;
  font-weight: 600;
  background-color: #f1f5ff;
  /* display: inline-block; */
  border-radius: 27px;
  border: none;
}
.image_wlah {
  display: flex;
  height: 40px;
  width: 80%;
  margin: auto;

  gap: 5px;
}
.image_wlah > div {
  width: 25%;
  border-radius: 5px;
  height: 100%;
  border: 1px solid #eaf1f5;
  -webkit-box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
  box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
}
.image_wlah > div > img {
  width: 100%;
  height: 100%;
}
.slick-prev.slick-arrow::before {
  color: black;
  font-size: 30px;
  content: "<";
  margin-left: 10px;
}
.slick-next.slick-arrow::before {
  color: black;
  font-size: 30px;
  content: ">";
  margin-right: 50px;
}
#nichka {
  height: 200px;
  width: 800px;
  border: 1px solid red;
  margin-top: 40px;
}

.items {
  width: 90%;
  margin: 0px auto;
  margin-top: 100px;
}
.slick-slide {
  margin: 10px;
}
.slick-slide img {
  width: 100%;
  border: 0px solid #fff;
}

a {
  text-decoration: none;
  color: #457eff;
}

.seeaya {
  margin-left: 44%;
  margin-top: 20px;
  border: 1px solid #88adff;
  border-radius: 100px;
  font-size: 17px;
  font-weight: 600;
  padding: 12px 20px;
  background-color: white;
  line-height: 24px;
}
#Discovryy {
  height: 405px;
  /* border: 1px solid black; */
  width: 990px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  font-family: "Inter", sans-serif;
}

#pinkyyy {
  width: 380px;
  height: 280px;
  margin-top: 34px;
  background-color: #fef9f4;
  padding-left: 107px;
  padding-top: 57px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 4px;
}
#pinkyyy > img {
  height: 103px;
  width: auto;
}
#pinkyyy > img + p {
  width: 275px;
  margin-top: -1px;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 40px;
  color: #1b2437;
}
#pinkyyy > img + p + p {
  margin-top: 8px;
  width: 251px;
  margin-top: -20px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  color: #8292b4;
}
#righpinkk {
  background-color: #fef9f4;
  width: 70px;
  height: 83%;
  margin-top: 34px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 4px;
}
.gridwlaslider {
  height: 100%;
  width: 540px;
  /* background-color: red; */
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #ffffff;
  border: 1px solid #eaf1f5;
  -webkit-box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
  box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
}
.rokau4 {
  margin-top: 50px;
  /* border: 1px solid black; */
  /* overflow: hidden;  */
}

.rokau4andr {
  margin-top: 10px;
  margin-left: 30px;
  width: 200px;
  height: 80px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;

  background: #ffffff;
  border: 1px solid #eaf1f5;
  -webkit-box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
  box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
}
.rokau4andr > p:first-child {
  color: #1b2437;
  max-width: 175px;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
  margin-left: 20px;
  text-align: start;
}
.rokau4andr > p + p {
  color: #8292b4;
  font-size: 12px;
  margin-top: -10px;
  font-weight: 400;
  text-align: start;
  margin-left: 20px;
}
#sponsered {
  height: 50px;

  width: 800px;
  margin: auto;
  display: flex;
}
.sponserdbtn {
  background: #ffffff;
  border: 1px solid #d3e1ea;
  border-radius: 100px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  padding: 7px 12px;
  margin: 6px 4px;
  display: inline-block;
  color: #445578;
  cursor: pointer;
}
.saare {
  background: #fff1ed;
  border: 1px solid #ffbfad;
  font-weight: 600;
  color: #1b2437;
  border-radius: 100px;
  font-size: 13px;
  line-height: 18px;

  padding: 7px 12px;
  margin: 6px 4px;
  display: inline-block;

  cursor: pointer;
}
.sponserdbtn + p {
  border-radius: 100px;
  font-size: 13px;

  padding: 3px 1px;

  font-family: "Inter", sans-serif;
}
.slidergridwala {
  height: 380px;
  width: 990px;
  border: 1px solid black;
  margin: auto;
  margin-top: 10px;
  display: flex;
  
}
.Rokaugridwala{
height: 100%;

  border: 1px solid red;
}
#appendhaiimageprep {
  margin: auto;
  height: 380px;
  width: 1000px;
  /* border: 1px solid black; */
  margin-top: 40px;
}
#appendhaiimageprep > img {
  height: 100%;
  width: 100%;
}
#appendhaiimagepremiumki {
  margin: auto;
  height: 170px;
  width: 1000px;
  /* border: 1px solid black; */
  margin-top: 40px;
}
#appendhaiimagepremiumki > img {
  height: 100%;
  width: 100%;
}
#growcarrier {
  width: 1000px;
  height: 245px;
  margin: auto;
 
  margin-top: 50px;
  font-family: "Inter",sans-serif;
  display: flex;
  cursor: pointer;
}
#standOut {
  width: 1000px;
  height: 295px;
  margin: auto;
  /* border: 1px solid black; */
  margin-top: 40px;
}
#standOut > img {
  height: 100%;
  width: 100%;
}
#footka {
  margin: auto;
  margin-top: 80px;
  width: 100%;
  height: 300px;
  background: #ffffff;
  border: 1px solid #eaf1f5;
  -webkit-box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
  box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
  font-family: "Inter", sans-serif;
}
#footkakaiandr {
  width: 81%;
  margin: auto;

  height: 50%;
  margin-top: 80px;
  display: flex;
}
.websitewla {
  width: 175px;
}
.websitewla > img {
  width: 95%;
  height: 30px;
  margin-top: 20px;
}
.websitewla > p {
  color: #8292b4;
  padding-top: 10px;
  font-size: 13px;
  line-height: 20px;
}
.aboutwala {
  width: 140px;

  font-family: "Inter", sans-serif;
  line-height: 18px;
  margin-left: 30px;
  color: #1b2437;
  font-size: 14px;
}
.get_on_google {
  margin-left: 130px;
  width: 330px;
  background: #ffffff;
  border: 1px solid #d3e1ea;
  -webkit-box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
  box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
  font-family: "Inter", sans-serif;
  border-radius: 8px;
}
.get_on_google > p:first-child {
  line-height: 23px;
  font-weight: 900;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 26px;
  color: #1b2437;
}
.get_on_google > p:first-child + p {
  font-size: 13px;
  color: #445578;
  line-height: 20px;
  font-weight: 400;
  margin-left: 26px;
  margin-top: -13px;
}
.chotiimags {
  margin-top: 10px;
  height: 21px;
  display: flex;
  gap: 10px;
  /* border: 1px solid green; */
  width: 80%;
}
.chotiimags > div {
  width: 20%;
  height: 100%;
  /* border: 1px solid pink; */
}
.chotiimags > div > img {
  width: 100%;
  height: 100%;
}
.imagesog_getit {
  width: 80%;
  margin: auto;
  /* border: 1px solid greenyellow; */
  height: 40px;
  display: flex;
  gap: 15px;
}
.imagesog_getit > div {
  height: 100%;
  width: 50%;
  /* border: 1px solid red; */
}
.imagesog_getit > div > img {
  height: 100%;
  width: 100%;
}
.aboutwala > p:hover {
  color: blue;
}
#end_ka_div {
  height: 125px;
  width: 80%;
  margin: auto;

  display: flex;
}
.picchipka {
  height: 100%;
  width: 57%;
}
.picchipka > img {
  width: 100%;
  height: 100%;
}
.autowla {
  height: 40%;

  width: 43%;
  margin-top: 30px;
  display: flex;
}
.rokaulast {
  height: 90%;
  margin: 4px;
}
.rokaulast > img {
  width: 100%;
  height: 100%;
}
.autowla > .slick-prev.slick-arrow::before {
  content: none;
}
.autowla > .slick-next.slick-arrow::before {
  content: none;
}
#slick-slide-control30::before {
  color: #ff7555;
  margin-top: -40px;
  font-size: 14px;
}
#slick-slide-control31::before {
  color: #ff7555;
  margin-top: -40px;
  font-size: 14px;
}
#slick-slide-control32::before {
  color: #ff7555;
  margin-top: -40px;
  font-size: 14px;
}
.headinghai{
  font-weight: bold;
  display: inline-block;
  font-size: 25px;
  line-height: 34px;
  color: #1B2437;
  margin-top: -7px;
 
 
}
.byline{
  display: inline-block;
    font-size: 11px;
    line-height: 14px;
    padding: 8px 12px;
    border-radius: 4px;
    background: #F2F4FF;
    font-weight: 500;
    color: #826CCE;
    margin-bottom: 10px;
    width: 50%;
   
}
.carrerstartimage{
  display: flex;
  flex-direction: column;
 
  width: 23%;
  height: 100%;
}
.imagehaicarrerwala{
  width: 60%;
  
  height: auto;
  margin-top: -20px;
}
.imagehaicarrerwala>img{
  height: 100%;
  width: 100%;
}
.carrerslider{
  width: 76%;
  
  height: 90%;
  margin-left:10px;
  
}
.rokaucareerwala{
  width: 40%;
  background: #FFFFFF;
   
    border: 1px solid #EAF1F5;
    
    box-shadow: 0px 4px 10px rgb(0 77 255 / 4%);
    border-radius: 16px 6px;
    cursor: pointer;
  height: 100%;
  margin-top: -0px;


}
.rokaucareerwala>p:first-child{
  color: #445578;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    max-height: 18px;
    margin-left: 25px;
    margin-top: 10px;
}
.rokaucareerwala>p:first-child+p{
  font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    max-height: 56px;
    color: #1B2437;
    margin-left: 25px;
    margin-top: -10px;
}
.rokaucareerwala>p:first-child+p+p{
  margin-top: 5px;
    font-size: 12px;
    max-height: 88px;
    line-height: 22px;
    color: #8292B4;
   
    margin-left: 25px;
    margin-top: -10px;
}
.twoboxwaladiv{
  height: 23px;
  margin: auto;
  width: 177px;
 
    margin-top: 33px;
    display: flex;
    gap: 10px;
}
.twoboxwaladiv>div{
 
    display: inline-block;
    border: 1px solid #EAF1F5;
    border-radius: 4px;
    font-weight: 300;
    margin-bottom: 12px;
    max-width: 100%;
   height: 20px;
    font-size: 12px;
    line-height: 16px;
    color: #6683A5;
}
.rokaucareerwala:hover{
  box-shadow: 0px 8px 20px rgb(0 73 203 / 12%);
}
